body {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
}

.container .button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hide the default checkbox */
.switch input[type=checkbox] {
  display: none;
}

.header{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}

/* Switch container */
.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  position: relative;
  cursor: pointer;
  margin: auto;
  margin-top: 5px;
}

/* Slider (button) */
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: 50%;
  margin-right: 50%;
  background-color: #ccc;
  border-radius: 15px;
  transition: background 0.3s ease-in-out;
}

.switch-label {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

/* The circle inside the button */
.slider::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 3px;
  top: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

/* When checkbox is checked */
input[type=checkbox]:checked+.slider {
  background-color: #2196F3;
}

input[type=checkbox]:checked+.slider::before {
  transform: translateX(30px);
}

button {
  width: 60px;
  height: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 5px #665;
}

button:hover {
  background-color: #ccc;
}

button:active {
  background-color: #2196F3;
  transform: translateY(3px);
  transition: transform 0.01s ease-in;
}

.checkbox {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input~.checkmark {
  background-color: #ccc;
  justify-content: center;
  align-items: center;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 50%;
  top: 50%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}